<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">
<!--
	<bean id="myDataSource1"
		class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close"
		p:driverClassName="com.mysql.jdbc.Driver"
		p:url="jdbc:mysql://localhost:3306/mydb"
		p:username="someone"/>
-->	
	
	<bean id="helloBean1" 
		class="org.latticesoft.util.common.TestBean"
		p:name="HelloBean1"
		p:message="I am hello Bean 1"/>
	
	<bean id="helloBean2" 
		class="org.latticesoft.util.common.TestBean"
		p:name="HelloBean2"
		p:message="I am hello Bean 2"/>
	
	<bean id="helloBean3" 
		class="org.latticesoft.util.common.TestBean"
		p:name="HelloBean3"
		p:message="I am hello Bean 3"/>
	
<!--	
	<bean id="exampleDataAccessObject"
		class="example.ExampleDataAccessObject"
		p:dataSource-ref="myDataSource"/>
-->
</beans>
