<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ================================================== -->
<!-- Log4j Configuration -->
<!-- ================================================== -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<!-- ================================================== -->
	<!-- Appenders for the logging -->
	<!-- ================================================== -->

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"/>
		<param name="Threshold" value="TRACE"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %-25C{1} %-25M %-3L	 %m%n"/>
		</layout>
	</appender>
	<!--
	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="datePattern" value="'.'yyyy-MM-dd"/>
	-->
	<appender name="FILE" class="org.apache.log4j.FileAppender">
		<param name="File" value="../latticesoft.log"/>
		<param name="Append" value="false"/>
		<param name="Threshold" value="TRACE"/>
		<param name="BufferSize" value="1"/>
		<param name="BufferedIO" value="false"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-10r][%d{dd/MM/yyyy HH:mm:ss,SSS}][%-50C::%-50M(%-5L)][%-5p] %m%n"/>
		</layout>
	</appender>

	<!-- ================================================== -->
	<!-- Limit categories -->
	<!-- ================================================== -->
	<category name="org.latticesoft">
		<priority value="DEBUG" />
		<appender-ref ref="FILE" />
	</category>

	<category name="org.apache">
		<priority value="ERROR" />
		<appender-ref ref="FILE" />
	</category>

	<!-- ================================================== -->
	<!-- Setup the Root category -->
	<!-- ================================================== -->
	<root>
		<priority value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>
	
</log4j:configuration>

